@font-face {
  font-family: Works;
  src: url(m/Gantari-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Works;
  -webkit-tap-highlight-color: transparent;
  /* border: dashed 1px #f00; */
  font-display: optional;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  transition: all 0.3s ease;

  font-size: 14px;

}

.container {
  max-width: 450px;
  margin: 0 auto;
  height: 100dvh;
  gap: 3em;
  overflow: scroll hidden;
  padding: 2em;
  display: flex;
  position: relative;
  align-items: center;

  scroll-snap-type: x mandatory;

}

.nav {
  position: absolute;
  height: 50px;
  max-width: 450px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  display: grid;
  grid-template-rows: 1;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 11px;
  /* box-shadow: 0 0 5px 0px #00000090; */
}



.nav .page {
  /* padding-block: 6px; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.page-name {
  font-size: .9em;
}

.nav .page:focus {
  color: #0047ab;

}

.page svg {
  font-size: 1.3em;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 60px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  inset: 0;
  border-radius: 21px;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: #c9e0ff;
  ;

  height: 60px;

  border-radius: 21px 21px 0 0;

}

.card {
  min-width: 100%;
  aspect-ratio: 3/4.5;
  scroll-snap-align: center;
  background: #eee;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1.1);
  padding: 15px;
  position: relative;
  color: #fff;
  /* box-shadow: 0 0 20px #c1c1c150; */
  margin-bottom: 5dvw;
  border-radius: 31px;
  overflow: hidden;

}

.profile-box {
  overflow: hidden;
  background: #9b59b650;
  transition: all 0.3s ease;
  position: relative;
}

.profile-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;

  && img {
    width: 100%;
    transition: all 0.3s ease;
    height: 100%;
    object-fit: cover;
  }
}


.overlay {
  width: 100%;
  height: 50%;
  position: absolute;
  font-family: Works;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background: linear-gradient(0deg, #000000 20%, #00000000 100%);
  overflow: scroll;
  padding: 150px 15px 20px 15px;
  color: #fff;
  animation-name: poppy;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  animation-iteration-count: 1;
  animation-direction: forwards;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.overlay h1 {
  font-weight: 800;
  font-family: Works;
  color: transparent;
  font-size: 4em;
  line-height: 0.8em;
  background-color: #c3cbdc;
  background-image: linear-gradient(-90deg, #c3cbcd 0%, #edf1f4 74%);
  background-clip: text;

  background-attachment: fixed;
}

@keyframes poppy {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0);
  }

}

.overlay h3 {
  color: #ddd;
  font-size: 1.2em;
  font-weight: 400;
  padding-left: 2px;
}

.overlay p.res {
  color: #888;
  cursor: pointer;
  padding-left: 2px;
  padding-bottom: 15px;
  font-style: italic;
  font-size: 0.9em;
}



.overlay p.res:hover {
  text-decoration: underline;

}

.overlay svg {
  padding-right: 2px;

}

.title {
  width: 100%;
  color: #000;
  font-weight: normal;
  height: fit-content;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #00000020;
  padding-bottom: 5px;
}

.card:nth-child(2) {
  background: #eee;
}

h1,
h2 {
  font-weight: 400;
  color: #000;
}

.field {
  padding: 10px;
  width: 100%;
  background: #ddd;
  border-radius: 11px;
}

.field h2 {
  font-size: 1.1em;
  font-weight: 600;
  height: max-content;
}

.edu-title {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  justify-content: space-between;
}

.edu-title p {
  color: #777;
  font-size: 0.8em;
}

.edu-title h2:nth-child(2) {
  color: #0047ab;
  font-size: 1.1em;
}

.edu-about {
  color: #555;
  font-size: 1em;
}

.card-body {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .8em;
}

.skill-body {
  display: flex;
  gap: 10px;
  padding: 20px 10px;
  flex-wrap: wrap;


}

.skill {
  color: #000;
  background: #ddd;

  height: fit-content;
  padding: 5px 10px;
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  border-radius: 21px;
}

.projects-container {
  overflow: scroll;
  height: 100%;
  border-radius: 11px;
  padding-bottom: 20px;
}

.projects-container::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  height: 40px;
  display: none;
}



.project-container {
  width: 100%;
  margin: 15px auto;
  background-color: #ddd;
  border-radius: 11px;
  overflow: hidden;
  padding: 15px;
  display: flex;
  gap: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
}

.project-details {
  display: flex;
  color: #000;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  width: 100%;
}

.project-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.project-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.technologies-used {
  font-size: 14px;
  margin-bottom: 5px;
}

.project-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: auto;
}

.link-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 21px;
  text-decoration: none;
  cursor: pointer;
}

.link-button:hover {
  background-color: #0047ab;
  color: #fff;
}

.hide {
  scale: 0.8;
  filter: blur(5px);
  opacity: 0;
  border-radius: 21px;
}

.show {
  scale: 1;
  filter: blur(0px);
  opacity: 1;
  border-radius: 31px;

}

a {
  text-decoration: none;
  color: #000;
}

.abtxs {
  color: #999;
  text-align: justify;
  font-style: normal;
  font-size: .9em;
}

.skill {
  position: relative;
  overflow: hidden;
}

.skill * {
  z-index: 2;
}

.skill::before {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #00ab4770;
  left: 0;

  top: 0;
  bottom: 0;
  z-index: 1;
}

.skill:nth-child(1)::before {
  width: 60%;
  background-color: #aba00070;

}

.skill:nth-child(2)::before {
  width: 80%;

}

.skill:nth-child(3)::before {
  width: 50%;
  background-color: #8fab0070;


}

.skill:nth-child(4)::before {
  width: 80%;

}

.skill:nth-child(5)::before {
  width: 70%;

}

.skill:nth-child(6)::before {
  width: 75%;

}

.skill:nth-child(7)::before {
  width: 60%;

}

.skill:nth-child(8)::before {
  width: 45%;
  background-color: #ab4d0070;


}

.iskill .title:nth-child(2) {
  margin-top: 2em;
}

.socialbox {
  display: flex;
  flex-direction: column;
  height: 100%;

  gap: 10px;


}

.socialbox div {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 11px;
  background: #ddd;

  padding-inline: 15px;
  justify-content: space-between;
}

.socialbox div a {
  padding: 6px 10px;
  border-radius: 21px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.socialbox a svg {
  color: #fff;
}

.socialbox div h1 {
  font-size: 1.2em;
  display: flex;
  gap: 5px;
  align-items: center;
}

#e1 {
  color: #221e6f;
}

#e9 {
  color: #5865f2;
}

#e10 {
  color: #e4e100;
}

#e11 {
  color: #0088cc;
}

#e8 {
  color: #00acee;
}

#e7 {
  color: #3b5998;
}

#e6 {
  color: #dd2a7b;
}

#e5 {
  color: #f47f24;
}

#e4 {
  color: #000;
}

#e3 {
  color: #000;

}

#e2 {
  color: #0e76a8;
}


.e1 {
  background-color: #221e6f;
}

.e9 {
  background-color: #5865f2;
}

.e10 {
  background-color: #e4e100;
}

.e11 {
  background-color: #0088cc;
}

.e8 {
  background-color: #00acee;
}

.e7 {
  background-color: #3b5998;
}

.e6 {
  background-color: #dd2a7b;
}

.e5 {
  background-color: #f47f24;
}

.e4 {
  background-color: #000;
}

.e3 {
  background-color: #000;

}

.e2 {
  background-color: #0e76a8;
}