@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;600&display=swap');

:root {
    --dynamic-color: #a200ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gantari", sans-serif;
    transition: all .3s ease-in-out;
}

body {
    background: #E3F2FD;
    width: 100dvw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    flex-grow: 1;
    max-width: 450px;
    height: 100%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    box-shadow: 0 0 25px -15px #aaa;
}

.container::-webkit-scrollbar {
    display: none;
}

.screen1,
.screen2 {
    scroll-snap-align: center;
    min-width: 100%;
    height: 100%;
    background-color: #E3F2FD;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(bg.jpg);
    background-position: right;
    transition: all .3s ease;

    background-size: cover;
}

.box {
    width: 90%;
    height: fit-content;
    padding: 20px;
    display: flex;
    position: absolute;
    backdrop-filter: blur(4px);
    flex-direction: column;
    inset: 0;
    margin: auto;
    background-color: #ffffff50;
    gap: 15px;
    border-radius: 21px;
}

.field {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

h1 {
    padding-left: 8px;
    border-left: solid 5px #7158d6;
}

#roomcode {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 5PX;
    font-weight: 700;
    font-size: 20px;
    border: none;
    background-color: #ffffff60;
}

input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    background-color: #ffffff60;
}

.field input::placeholder {
    opacity: 0.5;
}

.cr {
    background-color: #654acf;
    border: none;
    height: 100%;
    width: 100%;
    color: #fff;
    border-radius: 6px;
}

.jr {
    background-color: #654acf;
    border: none;
    height: 100%;
    width: fit-content;
    padding: 0 20px;
    color: #fff;
    border-radius: 6px;
}

header {
    padding: 8px 8px 8px 20px;
    color: #000;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-size: 1em;
    width: fit-content;
}

header button {
    background-color: transparent;
    border: none;
    height: 100%;
    aspect-ratio: 1 /1;
    font-size: 1.1em;
    border-radius: 31px;
    cursor: pointer;
}

header button {
    color: #39b400;
    background-color: #d2ffd2;

}

header button:nth-child(2) {
    color: #b45a00;
    background-color: #ffe9d2;
}

header button:last-child {
    color: #b40000;
    background-color: #ffd2d2;

}

.option {
    display: flex;
    height: 44px;
    width: 100%;
    justify-content: flex-end;
    gap: 8px;
}

.chatbot {
    background: #fff;
    height: 100dvh;
    max-width: 450px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}




.chatbox {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-top: 70px;
}

.chatbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chatbox .chat {
    list-style: none;
    padding: 8px;
    width: fit-content;
    display: flex;
    min-width: 25%;
    transition: all .3s ease;
    max-width: 80%;
    position: relative;
    flex-direction: column;


}


.chatbox::-webkit-scrollbar {
    width: 3px;
}

.chatbox::-webkit-scrollbar-track {
    background-color: transparent;
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 2px;
}

.incoming {
    align-self: flex-start;
    border-radius: 3px;
    background-color: #ffffff;
    border-left: solid 4px #a115ff;
}

.outgoing {
    /* align-self: flex-end; */
    border-radius: 3px;
    border-left: solid 4px #ff06ac;

    background-color: #ffffff;
    /* align-items: flex-end; */

}


.activebar {
    width: 100%;
    height: 46px;
    background-color: #ffffff50;
    display: flex;
    overflow-x: scroll;
    transition: all .3s ease-in-out;
    align-items: center;
    gap: 5px;
    padding-inline: 10px;
}

.activebar::-webkit-scrollbar {
    display: none;
}

.activebar div {
    background-color: #000;
    color: #fff;
    padding-inline: 5px;
    padding-block: 2px;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    align-items: center;
}


.top-bar {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.time {
    font-size: 10px;
    color: #808080;
}

.sender {
    text-transform: uppercase;
    font-size: 10px;
}

.incoming p.sender {
    color: #a115ff;

}

.outgoing p.sender {
    color: #ff06ac;

}


.exportRoom {
    width: 94%;
    height: fit-content;

    border: solid 1px #00000050;
    background-color: #fff;
    box-shadow: 0 0 0 100dvh #00000025;
    position: absolute;
    padding: 20px;
    animation: iphonepop 0.1s forwards ease;
    inset: 0;
    scroll-behavior: smooth;
    animation-iteration-count: 1;
    animation-play-state: paused;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin: auto;
}

.qrhold {
    width: 100%;
    aspect-ratio: 1/1;
}

.qrhold img {
    width: 100%;
}

.exportRoom .field {
    width: 100%;
    display: flex;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;

    border: solid 1px #00000060;


}



.exportRoom .field input[type=text] {
    width: 100%;
    border-radius: 25px;
    border: none;
    padding-left: 1em;
    font-size: 1em;
}

.exportRoom .field input[type=text]:focus {
    border: none;
    outline: none;
}

.exportRoom .field:focus-within {
    border: solid 1px #000000ee;
}

.exportRoom .field .copyBtn {
    padding-right: 15px;
    width: fit-content;
    border-radius: 25px;
    background-color: transparent;
    font-size: 1em;
    color: rgb(0, 108, 0);
    border: none;

}

.title-pop button {
    color: rgb(210, 0, 0);
    font-size: 1em;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
}

.exportRoom .title-pop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

/* INPUT STYLING */

.dynamix {
    width: 100%;
    min-height: 60px;
    box-shadow: 0 0 5px #aaaaaa70;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    position: relative;

    align-items: center;
    gap: 5px;
    justify-content: space-between;

}


.dynamix input {
    width: 100%;
    height: 100%;
    border: none;

    position: relative;
    background-color: transparent;
    font-size: 18px;

}

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    color: #838383;
}

input[type="file"] {
    max-width: 50px;
    height: 60px;
    padding: 20px;

}

input[type="file"]::file-selector-button {
    width: 60px;
    height: 60px;
    overflow: hidden;
    color: transparent;
}

input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    height: 20px;
    width: 20px;
    top: 20px;
    left: 20px;
    content: '';
    background-image: url("camera-solid.svg");
}

input[type="file"]::before svg {
    color: #0f0;
}

input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    color: var(--dynamic-color);
    content: "";
}

input[type="file"]::file-selector-button {
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: none;
    background-color: white;
    transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}





.dynamix button {
    height: 60px;
    width: 60px;
    /* background-color: #048aff; */
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border: none;
    border-radius: 31px;
    font-size: 1em;
    background-color: transparent;
}

.dynamix button svg {
    height: 60%;
    color: var(--dynamic-color);
}

.dynamix input#message:valid~button {
    visibility: visible;
    scale: 1;
    rotate: -90deg;

}

input:focus {
    outline: none;
}

.alertbox {
    position: absolute;
    inset: 0;
    z-index: 1000;
    margin: auto;
    padding: 20px;
    border-radius: 31px;
    width: 80%;
    height: fit-content;
    background-color: #fff;

}

.alerthead {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;

}

.alerthead button {
    background-color: transparent;
    border: none;
    padding: 2px;
}

.alerthead h3 {
    text-transform: uppercase;

}

.aDef {
    height: fit-content;
    padding-block: 10px;
}

.aOptions {
    height: 46px;
    display: flex;
    gap: 10px;
    margin-top: 10px;


}

.aOptions button {
    width: 100%;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    opacity: 0.8;
    transition: all .3s ease-in-out;
    border-radius: 23px;
}

.aOptions button:hover {
    opacity: 1;
    border-radius: 11px;
}

.aOptions button:first-child {
    background-color: #f73838;
}

.aOptions button:last-child {
    background-color: #00aa00;
}