@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;600&display=swap');

:root {
    --dynamic-color: #006eff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gantari", sans-serif;
    transition: all .3s ease-in-out;
}

body {
    background: #000;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
}

.container {
    flex-grow: 1;
    max-width: 1200px;
    height: 100dvh;
    background-color: black;
    margin: 0 auto;
    display: flex;
    border-radius: 11px;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.container::-webkit-scrollbar {
    display: none;
}

.screen1,
.screen2 {
    scroll-snap-align: center;
    min-width: 100%;
    height: 100%;
    background-color: #E3F2FD;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(bg.jpeg);
    background-position: right;
    transition: all .3s ease;

    background-size: cover;
}

.box {
    width: 90%;
    height: fit-content;
    padding: 20px;
    display: flex;
    position: absolute;
    backdrop-filter: blur(4px);
    flex-direction: column;
    color: #fff;
    inset: 0;
    margin: auto;
    background-color: #00000050;
    gap: 15px;
    border-radius: 21px;
}

.field {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

h1 {
    padding-left: 8px;
    border-left: solid 5px #7158d6;
}

#roomcode {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 5PX;
    font-weight: 700;
    font-size: 20px;
    border: none;
    background-color: #00000060;
}

.roomdetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    padding: 3px;
}

#members {
    font-size: 12px;
    color: grey;
    display: flex;
    text-transform: uppercase;
    gap: 5px;
    padding-left: 5px;

}

#rmcode {
    width: 100%;
    padding: 1px 5px;
    font-size: 1.3em;
}

#rc {
    color: #006eff;
    padding-inline: 4px;
    border-radius: 6px;
    background-color: #001a3b;
}



input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    color: #fff;
    background-color: #00000060;
}

.field input::placeholder {
    opacity: 0.5;
}

.cr {
    background-color: #654acf;
    border: none;
    height: 100%;
    width: 100%;
    color: #fff;
    border-radius: 6px;
}

.jr {
    background-color: #654acf;
    border: none;
    height: 100%;
    width: fit-content;
    padding: 0 20px;
    color: #fff;
    border-radius: 6px;
}

header {
    padding: 8px 8px 8px 20px;
    color: #fff;
    z-index: 2;
    background-color: #000;
    width: 98%;
    margin-top: 6px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 30px 30px;
    justify-content: space-between;
    box-shadow: 0 2px 10px #000000;
}

header h2 {
    font-size: 1em;
    width: fit-content;
}

header button {
    background-color: transparent;
    border: none;
    height: 100%;
    aspect-ratio: 1/ 1;
    border: solid 1px rgb(63, 63, 63);
    font-size: 1em;
    border-radius: 31px;
    cursor: pointer;
}

header button {
    color: #2b8800;
    /* background-color: #d2ffd2; */

}

header button:nth-child(2) {
    color: #b45a00;
    /* background-color: #ffe9d2; */
}

header button:last-child {
    color: #ce2525;
    /* background-color: #ffd2d2; */

}

.option {
    display: flex;
    height: 44px;
    width: 100%;
    justify-content: flex-end;
    gap: 8px;
}

.chatbot {
    background: #fff;
    height: 100dvh;
    max-width: 450px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}




.chatbox {
    overflow-y: auto;
    height: fit-content;
    width: 100%;
    padding: 10px;
    padding-top: 70px;
}

.chatme {
    width: 100%;
    height: 100%;
}

.chatbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 70px;
}

.chatbox .chat {
    list-style: none;
    padding: 8px;
    width: fit-content;
    display: flex;
    min-width: 25%;
    transition: all .3s ease;
    color: #fff;
    max-width: 80%;
    position: relative;
    flex-direction: column;
    background-color: #121212;


}




.chatbox::-webkit-scrollbar {
    width: 3px;
}

.chatbox::-webkit-scrollbar-track {
    background-color: transparent;
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 2px;
}

.incoming {
    align-self: flex-start;
    border-radius: 3px;
    border-left: solid 4px #a115ff;
}

.outgoing {
    /* align-self: flex-end; */
    border-radius: 3px;
    border-left: solid 4px #ff06ac;

    /* align-items: flex-end; */

}


.activebar {
    width: 100%;
    height: 46px;
    background-color: #ffffff50;
    display: flex;
    overflow-x: scroll;
    transition: all .3s ease-in-out;
    align-items: center;
    gap: 5px;
    padding-inline: 10px;
}

.activebar::-webkit-scrollbar {
    display: none;
}

.activebar div {
    background-color: #000;
    color: #fff;
    padding-inline: 5px;
    padding-block: 2px;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    align-items: center;
}


.top-bar {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.time {
    font-size: 10px;
    color: #808080;
}

.sender {
    text-transform: uppercase;
    font-size: 10px;
}

.incoming p.sender {
    color: #a115ff;

}

.outgoing p.sender {
    color: #ff06ac;

}


.exportRoom {
    max-width: 50%;
    min-width: 350px;
    height: fit-content;

    border: solid 1px #00000050;
    background-color: #fff;
    box-shadow: 0 0 0 100dvh #00000025;
    position: absolute;
    padding: 20px;
    animation: iphonepop 0.1s forwards ease;
    inset: 0;
    scroll-behavior: smooth;
    animation-iteration-count: 1;
    animation-play-state: paused;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin: auto;
}

.qrhold {
    width: 250px;
    aspect-ratio: 1/1;
    padding: 10px;
    border-radius: 21px;
    margin-block: 20px;
    border: solid 1px #aaa;
}

.qrhold img {
    width: 100%;
    border-radius: 11px;
}

.exportRoom .field {
    width: 100%;
    display: flex;
    height: 50px;
    transition: all .3s ease-in-out;

    gap: 0px;
    overflow: hidden;
    border-radius: 25px;

    border: solid 1px #00000060;


}



.exportRoom .field input[type=text] {
    width: 100%;
    border-radius: 25px;
    border: none;
    padding-left: 1em;
    transition: all .3s ease-in-out;
    font-size: 1em;
    background-color: transparent;
    color: #1a1a1a;
}

.exportRoom .field input[type=text]:focus {
    border: none;
    outline: none;
}

.exportRoom .field:focus-within {
    border: solid 1px #000000ee;
}

.exportRoom .field .copyBtn {
    padding-right: 15px;
    width: fit-content;
    border-radius: 25px;
    transition: all .3s ease-in-out;

    background-color: transparent;
    font-size: 1em;
    color: rgb(0, 108, 0);
    border: none;

}

.title-pop button {
    color: rgb(210, 0, 0);
    font-size: 1em;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
}

.exportRoom .title-pop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

/* INPUT STYLING */

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    color: #838383;
}



.dynax input {
    width: 100%;
    height: 100%;
    border: none;

    position: relative;
    padding-left: 0px;
    background-color: transparent;
    font-size: 18px;
    color: #fff;

}

.dynax textarea {
    width: 100%;
    height: 50px;
    border: none;
    /* columns: 1; */
    position: relative;
    padding-block: 10px;
    padding-left: 0px;
    background-color: transparent;
    font-size: 20px;
    color: #fff;

}

.dynax textarea:focus {
    outline: none;
}


.dynax button:last-child {
    height: 60px;
    width: 60px;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border: none;
    border-radius: 31px;
    font-size: 1em;
    background-color: transparent;
}

.dynax button:last-child svg {
    height: 60%;
    color: var(--dynamic-color);
}

.dynax input#message:valid~button:last-child {
    visibility: visible;
    scale: 1;
    rotate: -90deg;

}

.dynax textarea#message:valid~button:last-child {
    visibility: visible;
    scale: 1;
    rotate: -90deg;

}





.dynamix {
    width: 98%;
    background-color: #000000;
    min-height: 60px;
    /* box-shadow: 0 0 10px #2e2e2e; */
    border: solid 1px #4f4f4f90;
    border-radius: 30px;
    display: flex;
    transition: all .3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.reply {
    width: 100%;
    height: fit-content;



}

.rCon {
    margin: 5px 15px;
    /* padding: 15px; */
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #121212;
    border-left: solid 5px #ff06ac;

}

.rRight button {
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    font-size: 1.2em;
    color: #848484;
}


.rLeft {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    color: #fff;


}

.rLeft h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #ff06ac;
}

.repTo {
    color: #4f4f4f;
    padding-left: 15px;
    padding-top: 15px;
}

.dynax {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    overflow: hidden;
    border-radius: 30px;

    justify-content: space-between;
}

input:focus {
    outline: none;
}

.rTo {
    color: #0f0;
}


.alertbox {
    position: absolute;
    inset: 0;
    z-index: 1000;
    margin: auto;
    padding: 20px;
    border-radius: 31px;
    width: 80%;
    height: fit-content;
    background-color: #fff;

}

.alerthead {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;

}

.alerthead button {
    background-color: transparent;
    border: none;
    padding: 2px;
}

.alerthead h3 {
    text-transform: uppercase;

}

.aDef {
    height: fit-content;
    padding-block: 10px;
}

.aOptions {
    height: 46px;
    display: flex;
    gap: 10px;
    margin-top: 10px;


}

.aOptions button {
    width: 100%;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    opacity: 0.8;
    transition: all .3s ease-in-out;
    border-radius: 23px;
}

.aOptions button:hover {
    opacity: 1;
    border-radius: 11px;
}

.aOptions button:first-child {
    background-color: #f73838;
}

.aOptions button:last-child {
    background-color: #00aa00;
}

.replyEnc {
    border-radius: 3px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    padding: 5px;
    border-left: solid 4px #a115ff;
}


.replyEnc .top-bar {
    color: #f00;
}

.replyEnc .chat {
    width: 100%;
}

.replyEnc li li {
    width: 100%;
    margin-top: 5px;
    border-left: solid 5px #ff06ac;
    border-radius: 3px;

}

.replyEnc li {
    width: 100%;


}

.repLos {
    border: none;
    padding: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.3em;
    color: var(--dynamic-color);
    background-color: transparent;

}

.custom-file-upload svg {
    color: #1962ff;
}