@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;600&display=swap');

:root {
    --dynamic-color: #006eff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gantari", sans-serif;
    transition: all .3s ease-in-out;
}

body {
    background: #000;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
}

.container {
    flex-grow: 1;
    max-width: 100%;
    height: 100dvh;
    background-color: black;
    margin: 0 auto;
    display: flex;
    border-radius: 11px;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.container::-webkit-scrollbar {
    display: none;
}

.screen1,
.screen2 {
    scroll-snap-align: center;
    min-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: right;
    transition: all .3s ease;

    background-size: cover;
}

.screen1 {
    display: flex;
    padding: 30px;
    background-color: #E3F2FD;

    gap: 30px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

.screen1 .welcome {
    height: 100%;

    border-radius: 31px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome img {
    width: 100%;
    border-radius: 31px;

    background-color: #c7d3ff;
}

.box {
    width: 90%;
    height: fit-content;
    padding: 20px;
    display: flex;
    backdrop-filter: blur(4px);
    flex-direction: column;
    color: #000;
    inset: 0;
    margin: auto;
    gap: 20px;
    border-radius: 21px;
}

.field {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

h1 {
    padding-left: 8px;

    border-left: solid 5px #7158d6;
}

#roomcode {
    width: 100%;
    border-radius: 0px;
    height: 100%;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 5PX;
    font-weight: 700;
    font-size: 20px;
    border-bottom: solid 2px #7158d6;
}

.roomdetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    padding: 3px;
}

#members {
    font-size: 12px;
    color: grey;
    display: flex;
    text-transform: uppercase;
    gap: 5px;
    padding-left: 5px;

}

#rmcode {
    width: 100%;
    padding: 1px 5px;
    font-size: 1.3em;
}

#rc {
    color: var(--nav-text);
    border: solid 2px var(--nav-text);

    padding-inline: 4px;
    border-radius: 6px;

}



input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    color: #000;
    background-color: transparent;
}

.field input::placeholder {
    opacity: 0.5;
}



.cr {
    background-color: #654acf;
    border: none;
    height: 100%;
    font-size: 1.1em;
    width: 100%;
    color: #fff;
    border-radius: 6px;
}

#jrr {
    height: 100%;
    width: 100%;
    position: relative;
}

.jr {
    background-color: transparent;
    border: none;
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 16px;
    position: absolute;
    height: 100%;
    width: fit-content;
    padding: 0 10px;
    color: #654acf;
    border-radius: 6px;
}


#jrr:focus-within button.jr {
    display: block;
}

.fieldzz {
    width: 100%;
    height: fit-content;
}

hr.style-two {
    border: 0;
    height: 1px;
    margin-block: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.fieldzz img {
    height: 100px;
}

body {
    --nav-color: #f5f5f5;
    --nav-text: #000000;
    --chat-bg: #ffffff;
    --input-bg: #ffffff;
    --input-clr: #007bff;
    --chat-r-bg: #e9e9eb;
    --chat-s-bg: #007bff;
    --chat-r-c: #000000;
    --chat-s-c: #ffffff;
}

.screen2 {
    background: var(--chat-bg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

header {
    padding: 8px 8px 8px 20px;
    color: var(--nav-text);
    z-index: 2;
    background-color: var(--nav-color);
    width: 100%;
    height: 60px;
    display: flex;

    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0 2px 10px #000000; */
}

header h2 {
    font-size: 1em;
    width: fit-content;
}

header button {
    border: none;

    background-color: transparent;
    height: 100%;
    aspect-ratio: 1/ 1;

    font-size: 1em;

    cursor: pointer;
}

header button {
    color: var(--nav-text);
}

.mediaImg {
    width: 100%;
    border-radius: 11px;
    margin-top: 7px;
}



.option {
    display: flex;
    height: 44px;
    width: fit-content;
    justify-content: flex-end;
    gap: 3px;
    border-radius: 30px;
    padding: 3px;
}

.chatbot {
    background: #fff;
    height: 100dvh;
    max-width: 450px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}




.chatbox {
    overflow-y: auto;
    height: fit-content;
    width: 100%;
    padding: 10px;
    padding-top: 70px;
    overflow: scroll;

}

.chatme {
    width: 100%;
    height: 100%;
}

.chatbox {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding-bottom: 80px;
}


.chatbox .chat {
    list-style: none;
    padding: 8px;
    width: fit-content;
    display: flex;
    min-width: 5%;
    max-width: 50%;
    /* padding-block: 10px; */
    transition: all .3s ease;
    position: relative;
    box-shadow: 0 0 4px #00000030;
    flex-direction: column;
    /* overflow: hidden; */

}

.chat>p {
    width: 100%;
    overflow-wrap: break-word;

}


.chatbox::-webkit-scrollbar {
    width: 3px;
}

.chatbox::-webkit-scrollbar-track {
    background-color: transparent;
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: var(--nav-color);
    border-radius: 2px;
}


.incoming {
    align-self: flex-start;
    border-radius: 8px;
    color: var(--chat-r-c);
    background-color: var(--chat-r-bg);
}

.outgoing {
    align-self: flex-end;
    border-radius: 8px;
    color: var(--chat-s-c);
    background: var(--chat-s-bg);
    /* align-items: flex-end; */

}


.activebar {
    width: 100%;
    height: 46px;
    background-color: #ffffff50;
    display: flex;
    overflow-x: scroll;
    transition: all .3s ease-in-out;
    align-items: center;
    gap: 5px;
    padding-inline: 10px;
}

.activebar::-webkit-scrollbar {
    display: none;
}

.activebar div {
    background-color: #000;
    color: #fff;
    padding-inline: 5px;
    padding-block: 2px;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    align-items: center;
}


.top-bar {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.time {
    font-size: 10px;

}

.outgoing .time {
    color: var(--chat-s-c);
    opacity: .5;
}

.incoming .time {
    color: var(--chat-r-c);
    opacity: .5;


}

.sender {
    text-transform: uppercase;
    font-size: 10px;
}

.incoming p.sender {
    color: var(--chat-s-bg);

}

.outgoing p.sender {
    color: transparent;

}


.exportRoom {
    max-width: 50%;
    min-width: 350px;
    height: fit-content;

    border: solid 1px #00000050;
    background-color: #fff;
    box-shadow: 0 0 0 100dvh #00000025;
    position: absolute;
    padding: 20px;
    animation: iphonepop 0.1s forwards ease;
    inset: 0;
    scroll-behavior: smooth;
    animation-iteration-count: 1;
    animation-play-state: paused;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin: auto;
}

.qrhold {
    width: 250px;
    aspect-ratio: 1/1;
    padding: 10px;
    border-radius: 21px;
    margin-block: 20px;
    border: solid 1px #aaa;
}

.qrhold img {
    width: 100%;
    border-radius: 11px;
}

.exportRoom .field {
    width: 100%;
    display: flex;
    height: 50px;
    transition: all .3s ease-in-out;

    gap: 0px;
    overflow: hidden;
    border-radius: 25px;

    border: solid 1px #00000060;


}



.exportRoom .field input[type=text] {
    width: 100%;
    border-radius: 25px;
    border: none;
    padding-left: 1em;
    transition: all .3s ease-in-out;
    font-size: 1em;
    background-color: transparent;
    color: #1a1a1a;
}

.exportRoom .field input[type=text]:focus {
    border: none;
    outline: none;
}

.exportRoom .field:focus-within {
    border: solid 1px #000000ee;
}

.exportRoom .field .copyBtn {
    padding-right: 15px;
    width: fit-content;
    border-radius: 25px;
    transition: all .3s ease-in-out;

    background-color: transparent;
    font-size: 1em;
    color: rgb(0, 108, 0);
    border: none;

}

.title-pop button {
    color: rgb(210, 0, 0);
    font-size: 1em;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
}

.exportRoom .title-pop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

/* INPUT STYLING */

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    color: #838383;
}



.dynax input {
    width: 100%;
    height: 100%;
    border: none;

    position: relative;
    padding-left: 0px;
    background-color: transparent;
    font-size: 18px;
    color: #fff;

}

.dynax textarea {
    width: 100%;
    height: 50px;
    border: none;
    /* columns: 1; */
    position: relative;
    padding-block: 10px;
    line-height: 1.5;
    padding-left: 0px;
    background-color: transparent;
    font-size: 20px;
    color: var(--input-clr);

}

.dynax textarea:focus {
    outline: none;
}


.dynax button:last-child {
    height: 60px;
    width: 60px;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border: none;
    border-radius: 31px;
    font-size: 1em;
    background-color: transparent;
}

.dynax button:last-child svg {
    height: 60%;
    color: var(--input-clr);
}

.dynax input#message:valid~button:last-child {
    visibility: visible;
    scale: 1;
    rotate: -90deg;

}

.dynax textarea#message:valid~button:last-child {
    visibility: visible;
    scale: 1;
    rotate: -90deg;

}





.dynamix {
    width: 98%;
    background-color: var(--input-bg);
    min-height: 60px;
    box-shadow: 0 0 5px #00000030;

    /* box-shadow: 0 0 10px #2e2e2e; */
    border-radius: 30px;
    display: flex;
    transition: all .3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: var(--input-clr);
    right: 0;
    margin: 0 auto;
}

.reply {
    width: 100%;
    height: fit-content;



}

.rCon {
    margin: 5px 15px;
    position: relative;
    /* padding: 15px; */
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #00000010;
    color: var(--input-clr);

}

.rRight button {
    background-color: transparent;
    height: 40px;
    width: 40px;
    right: 0;
    top: -20px;
    border-radius: 20px;
    background-color: var(--input-bg);
    box-shadow: 0 0 10px #00000030;
    border: none;
    position: absolute;

    font-size: 1.2em;
    color: var(--input-clr);

}


.rLeft {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    border-radius: 3px;
    color: var(--input-clr);



}

.rLeft h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    font-weight: 900;
}

.repTo {
    color: #4f4f4f;
    padding-left: 15px;
    padding-top: 15px;
}

.dynax {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    overflow: hidden;
    border-radius: 30px;

    justify-content: space-between;
}

input:focus {
    outline: none;
}

.rTo {
    color: #0f0;
}


.alertbox {
    position: absolute;
    inset: 0;
    z-index: 1000;
    margin: auto;
    padding: 20px;
    border-radius: 31px;
    width: 80%;
    height: fit-content;
    background-color: #fff;

}

.alerthead {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;

}

.alerthead button {
    background-color: transparent;
    border: none;
    padding: 2px;
}

.alerthead h3 {
    text-transform: uppercase;

}

.aDef {
    height: fit-content;
    padding-block: 10px;
}

.aOptions {
    height: 46px;
    display: flex;
    gap: 10px;
    margin-top: 10px;


}

.aOptions button {
    width: 100%;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    opacity: 0.8;
    transition: all .3s ease-in-out;
    border-radius: 23px;
}

.aOptions button:hover {
    opacity: 1;
    border-radius: 11px;
}

.aOptions button:first-child {
    background-color: #f73838;
}

.aOptions button:last-child {
    background-color: #00aa00;
}





.replyEnc .top-bar p {
    color: rgb(0, 0, 0) !important;
    width: fit-content;
}

.replyEnc .chat {
    width: fit-content;
}


.replyEnc li li {
    width: 100%;

    margin-top: 5px;
    border-radius: 3px;


}

.replyEnc li {
    width: 100%;
    width: fit-content;


}

.repLos {
    border: solid 2px #f00;
    padding: none;
    width: fit-content;
    justify-self: flex-end;

    border-radius: 3px;
    justify-self: flex-end;
    display: flex;
    border: solid 1px #00f;
    height: fit-content;
    flex-direction: column;

}

.repLos * {
    color: #f00;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.3em;
    color: var(--dynamic-color);
    background-color: transparent;

}

.custom-file-upload svg {
    color: var(--input-clr);
}

.room-option {
    position: absolute;
    width: fit-content;
    opacity: 0;
    height: fit-content;
    right: 0;
    top: 60px;
    z-index: 10;
    transform: translateX(100%);
    overflow: hidden;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.room-option button {
    padding: 15px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border: none;
    background-color: transparent;
}

.room-option button:nth-child(1) svg {
    color: rgb(53, 198, 0);
    font-size: 1.2em;
}

.room-option button:nth-child(2) svg {
    color: rgb(255, 38, 38);
    font-size: 1.2em;

}

.room-option button:nth-child(3) svg {
    color: rgb(255, 157, 0);
    font-size: 1.2em;

}

.room-option button:nth-child(4) svg {
    color: rgb(214, 89, 255);
    font-size: 1.2em;

}

.room-option button:hover {
    background-color: #212121;
}


@media screen and (max-width:1050px) {
    .screen1 {
        flex-direction: column;
    }
}

@media screen and (max-width:640px) {
    .container {
        border-radius: 0px;
    }

    #omnibar {
        flex-direction: column;
        height: fit-content;
    }

    #omnibar button,
    #omnibar>div {
        height: 50px;
    }

    .box {
        width: 100%;
        padding: 0px;
    }
}


.context-menu {
    position: absolute;
    display: none;
    width: 150px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
    border-radius: 6px;
    background-color: #474747;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding-block: 10px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: #ececec;
    padding-inline: 10px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: rgb(101, 101, 101);
}

#themeprompt {
    position: absolute;
    background-color: #00f;
    inset: 0;
    width: 300px;
    height: fit-content;
    display: none;
    padding: 15px;
    border-radius: 21px;
    box-shadow: 0 0 10px #25252560;
    background-color: var(--chat-bg);
    margin: auto;
}

#themeprompt .field {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#themeprompt .field select {
    width: 100%;
    border-radius: 11px;
    height: 50px;
    font-size: 18px;

    border: none;
    background-color: rgba(222, 222, 222, 0.486);
}

body.dark * {
    background-color: #111111;
    color: #fff;
}

body.dark .warn * {
    background-color: transparent;
}

body.dark .warn {
    background-color: #af0c0c;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 11px;
}

.warn p {
    text-align: justify;
}

body.dark svg {
    color: #ff0;
}