@font-face {
    font-family: 'Pally';
    src: url('//cdn.fontshare.com/wf/VPAWN3GT4VFQHSY4UNTQ2DN7MTCY4SY6/BWT7ZBMMCUWVMKW5JKBRY5QM7DSRRLK7/NMGCE7TXWYRSZ7JKOU2SJCHUPXNFUZHL.ttf') format('truetype');
    font-weight: 400 700;
    font-display: swap;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root {
    --borad: 12px;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Pally', sans-serif;

}

body.light {
    --theme: #f3f6fc40;

}

body.dark {
    --theme: #1e1e1e40;

}

body {
    margin: 0;
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.sub,
.navbar,
.dayn>div,
.otr>div,
.endnote {
    border: var(--border);
    width: 100%;
    background-color: var(--theme);
}

.container {
    max-width: 400px;
    height: 100dvh;
    margin: 0 auto;
    padding: 10px;

    /* border: solid 3px #00f; */
}

#mph {
    font-family: "Noto Color Emoji", sans-serif !important;
}


.navbar {
    height: 50px;
    padding: 8px;
    display: flex;
    margin-top: 10px;
    border-radius: var(--borad);
    gap: 5px;
    align-items: center;
    /* background-color: #f3f6fc40; */
    backdrop-filter: blur(9px);
    justify-content: space-between;
    position: sticky;
    top: 10px;
    z-index: 1;
    flex-grow: initial;
    align-items: stretch;

}

.navbar input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* border-radius: var(--borad); */
    font-size: 1.3em;
    padding-inline: 10px;
    border: none;
}



.sub {
    aspect-ratio: 1 / 1;
    display: flex;
    margin-top: 10px;
    border-radius: var(--borad);
    align-items: center;
    justify-content: center;
    /* border: solid 1px #00f; */
    /* background-color: #f3f6fc40; */

}

.mbox {
    width: fit-content;
    /* border: solid 1px #00f; */
    padding-inline: 30px;
    aspect-ratio: 2 / 3;
    display: flex;
    /* gap: 5px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mbox h1 {
    font-size: 5em;
    padding-block: 2px;

}

sup {
    font-size: 0.4em;
}

.mbox p {
    font-size: 1.2em;
}

.dayn {
    /* border: solid 1px #f0f; */
    aspect-ratio: 20 / 9;
    display: flex;
    padding-block: 10px;
    gap: 10px;
    /* margin-block: 0px; */
    border-radius: var(--borad);

}

.dayn div {
    width: 100%;
    /* background-color: #f3f6fc40; */

    border-radius: var(--borad);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border: solid 1px #0f0; */
}

.otr {
    /* border: solid 1px #f00; */
    gap: 10px;
    display: flex;

    flex-direction: column;
}

#dfd {
    display: flex;
    width: fit-content;
    gap: 5px;
    align-items: center;
}

#dfd p:first-child {
    font-size: 1.8em;
    font-weight: 500;
}


.settings button {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    padding: 10px;
    border-radius: var(--borad);
    border: none;
    color: #ffffff;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

#dfd p:last-child {
    font-size: 1.3em;
}

.otr div {
    height: 50px;
    margin: 0 auto;
    border-radius: var(--borad);
    /* background-color: #f3f6fc40; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4%;
}

.toii {
    display: flex;
    gap: 10px;
}

#windeg {
    /* border: solid 1px #f00; */
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--borad);
}

.locbox {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    /* border: solid 1px #f00; */
    padding-inline: 8px;
    /* background-color: #f3f6fc; */
    padding-right: 15px;
    padding-block: 1px;
    border-radius: var(--borad);

}

.endnote {
    margin: 10px auto;
    flex-direction: column;
    /* background-color: #f3f6fc40; */

    padding: 3%;
    border-radius: var(--borad);
    height: fit-content;
    padding-bottom: calc(3% + 5px);
}

#name {
    background-color: #f3f6fc20;
    padding-block: 5px;
    border-radius: 15px;
    color: #fff;
    padding-inline: 10px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;

}

.filler {
    height: 20px;
}

.txtem {
    font-size: 2.2em;
    font-weight: 600;
}

.locbox svg {
    width: 16px;
    height: 16px;
}

#windeg svg {
    width: 14px;
}

#image {
    width: 70px;
    aspect-ratio: 1 / 1;
    display: flex;
    margin-top: -20px;
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
}

#image img {
    transform: scale(2);

}

input::placeholder {
    color: #fff;


}

input {
    color: #fff;
}

input:focus {
    border: none;
    outline: none;
}

#otrx {
    padding: 0px;
    overflow: hidden;
}

#otrx button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
}