@font-face {
    font-family: 'Pally';
    src: url('//cdn.fontshare.com/wf/VPAWN3GT4VFQHSY4UNTQ2DN7MTCY4SY6/BWT7ZBMMCUWVMKW5JKBRY5QM7DSRRLK7/NMGCE7TXWYRSZ7JKOU2SJCHUPXNFUZHL.ttf') format('truetype');
    font-weight: 400 700;
    font-display: swap;
    font-style: normal;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Pally', sans-serif;

}


body {
    margin: 0;
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    max-width: 400px;
    height: 100dvh;
    margin: 0 auto;

    /* border: solid 3px #00f; */
}



.navbar {
    height: 60px;
    padding: 8px;
    /* border: solid 1px #00f; */
    display: flex;
    width: 90%;
    margin: 5px auto;

    border-radius: 11px;
    gap: 5px;
    align-items: center;
    background-color: #f3f6fc30;
    backdrop-filter: blur(9px);
    justify-content: space-between;
    position: sticky;
    top: 5px;
    flex-grow: initial;
    align-items: stretch;

}

.navbar input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 6px;
    font-size: 1.3em;
    padding-inline: 10px;
    border: none;
}



.sub {
    width: 90%;
    aspect-ratio: 1 / 1;
    display: flex;
    margin-top: 5px;
    border-radius: 21px;
    align-items: center;
    justify-content: center;
    /* border: solid 1px #00f; */
    background-color: #f3f6fc30;

    margin-inline: 5%;
}

.mbox {
    width: fit-content;
    /* border: solid 1px #00f; */
    padding-inline: 30px;
    aspect-ratio: 2 / 3;
    display: flex;
    /* gap: 5px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mbox h1 {
    font-size: 5em;
    padding-block: 2px;

}

sup {
    font-size: 0.4em;
}

.mbox p {
    font-size: 1.2em;
}

.dayn {
    /* border: solid 1px #f0f; */
    width: 90%;
    aspect-ratio: 20 / 9;
    display: flex;
    padding-block: 10px;
    gap: 10px;
    /* margin-block: 0px; */
    margin-inline: 5%;
    border-radius: 21px;

}

.dayn div {
    width: 33%;
    background-color: #f3f6fc30;

    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border: solid 1px #0f0; */
}

.otr {
    /* border: solid 1px #f00; */
    width: 100%;
    gap: 10px;
    display: flex;

    flex-direction: column;
}

#dfd {
    display: flex;
    width: fit-content;
    gap: 5px;
    align-items: center;
}

#dfd p:first-child {
    font-size: 1.8em;
    font-weight: 500;
}


.settings button {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

#dfd p:last-child {
    font-size: 1.3em;
}

.otr div {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    border-radius: 11px;
    background-color: #f3f6fc30;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4%;
}

.toii {
    display: flex;
    gap: 10px;
}

#windeg {
    /* border: solid 1px #f00; */
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.locbox {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    /* border: solid 1px #f00; */
    padding-inline: 8px;
    background-color: #f3f6fc30;
    padding-right: 15px;
    padding-block: 1px;
    border-radius: 15px;

}

.endnote {
    width: 90%;
    margin: 10px auto;
    flex-direction: column;
    background-color: #f3f6fc30;

    padding: 3%;
    border-radius: 11px;
    height: fit-content;
    padding-bottom: calc(3% + 5px);
}

#name {
    background-color: #f3f6fc20;
    padding-block: 5px;
    border-radius: 15px;
    color: #fff;
    padding-inline: 10px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;

}

.filler {
    height: 20px;
}

.txtem {
    font-size: 2.2em;
    font-weight: 600;
}

.locbox svg {
    width: 16px;
    height: 16px;
}

#windeg svg {
    width: 14px;
}

#image {
    width: 70px;
    aspect-ratio: 1 / 1;
    display: flex;
    margin-top: -20px;
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
}

#image img {
    transform: scale(2);

}

input::placeholder {
    color: #fff;


}

input {
    color: #fff;
}

input:focus {
    border: none;
    outline: none;
}
