body,
html {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100%;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.container {
    max-width: 400px;
    height: 100dvh;
    margin: 0 auto;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.canvas {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas h1,
.canvas p {

    transition: all .3s ease-in-out;
}

.card {
    width: 80%;
    aspect-ratio: 1/1;
    position: relative;
    padding: 20px;
    overflow: hidden;
    color: #fff;
    display: flex;
    border-style: solid;
    border-width: 0px;


    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    transition: border-radius .3s ease-in-out;
}

.card-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    inset: 0;
    z-index: -1;
    background-position: center;
    background-size: 220%;
    margin: 0;
}

#tint {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 0;
    margin: auto;
}

h1 {
    z-index: 1;
    font-size: 28px;

}

#author {
    align-self: flex-end;
    z-index: 1;
}

*:focus {
    outline: none;
}

.controls {
    height: 50px;
    position: absolute;
    top: 5px;
    padding: 5px;
    width: 100%;
    overflow: scroll hidden;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls::-webkit-scrollbar {
    display: none;
}

.controls button,
.controls span {
    border-radius: 30px;
    border: none;
    background: #ffffffdd;
    color: #000;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-inline: 15px 15px;
    justify-content: center;

}

button img,
.controls span img {
    height: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;

    scale: .7;



}



button p,
span label {
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1.5;
    font-size: 14px;
    font-family: arial;
}

button:disabled {
    opacity: .4;
}

.footer {
    position: absolute;
    right: 5px;
    font-family: 'Times New Roman', Times, serif;
    bottom: 5px;
    color: #fff5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 28px;
}

.footer span {
    font-size: 8px;
    height: 10px;
    font-style: italic;
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: flex-end;
}

.footer span:last-child {
    font-style: normal;
    font-size: 12px;
}

.capture {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: fit-content;

    margin: 0 auto;
}

.capture button {
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    font-weight: 600;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border: none;
    border-radius: 41px;
}

.capture button img {
    scale: 1;
}

input[type="color"] {
    border: none;
    width: 30px;
    border-radius: 15px;
    height: 30px;
    margin-right: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* input[type="file"] {
    display: none;
} */
.selectors {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 200px;
    background-color: #ffffff;
    z-index: 3;
    border-radius: 31px 31px 0 0;
    padding: 20px;
    overflow-y: scroll;
    transform: translateY(100%);
    transition: transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.selectors::-webkit-scrollbar {
    display: none;
}

.topbar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none !important;
    justify-content: space-between;
}

.topbar button {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.selectors * {
    font-family: 'Noto Sans';

}

.selectors>div:not(.topbar) {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-block: 10px;
    border-bottom: solid 1px #00000020;
}

/* .field * {
    padding-left: 20px;

} */

.field label:not(.switch) {
    font-size: 14px;
    padding-left: 0px;
}

.field span:not(.fszz) {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.field span input[type="number"] {
    height: 100%;
    width: 60px;
    border: solid 1px #00000040;
    text-align: center;
    border-radius: 6px;

}

input[type="range"] {
    width: 100%;


}

input[type="file"]::-webkit-file-upload-button {
    border: solid 1px #00000050;
    border-radius: 6px;
    background-color: transparent;
    padding: 10px 15px;
}

.field input {
    text-align: center;
}

.field span button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 6px;
    border: solid 1px #00000040;

}

.field select {
    height: 40px;
    background-color: transparent;
    border: solid 1px #00000060;
    border-radius: 6px;
    padding-inline: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 26px;
}

.switch input {
    width: 100%;
    height: 100%;
    appearance: none;
    background-color: #000;
    border-radius: 20px;
    opacity: 0;

}

.switch .plh {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #00000050;
    border-radius: 15px;
    transition: .3s;
}

.switch .plh::before {
    position: absolute;
    content: '';
    height: 22px;
    left: 3px;
    width: 22px;
    border-radius: 12px;
    background-color: #fff;
    transition: .3s;
    scale: .8;
}

.switch input:checked+.plh {
    background-color: #00ab47;
}

.switch input:checked+.plh::before {
    transform: translateX(24px);
    scale: 1;
}

.sepa {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fszz {
    display: flex;
    height: 40px;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#authAl,
#qteAl {
    height: 40px;
    width: 100px;
    border-radius: 6px;
    border: solid 1px #00000050;
    background-color: transparent;
}