* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-hue: 200;
    --bg-intense: 100%;
}


body {


    width: 100%;
    height: 100dvh;
    align-items: center;
    overscroll-behavior: none;
    justify-content: center;
    background-color: #000;
    display: flex;
    font-size: 7.5vmin;
}


#game {
    display: grid;
    gap: var(--g-gap);
    border-radius: 2vmin;
    position: relative;
    padding: var(--g-gap);
    overscroll-behavior: none;
    background-color: #50505090;
    grid-template-columns: repeat(var(--g-size), var(--c-size));
    grid-template-rows: repeat(var(--g-size), var(--c-size));
}

.cell {
    height: 100%;
    border-radius: 1vmin;
    width: 100%;
    background-color: #535353;
}

.tile {
    --x: 1;
    --y: 2;
    --bg-lightness: 80%;
    --c-lightness: 20%;


    font-family: sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--c-size);
    height: var(--c-size);
    font-weight: 700;
    animation: rise .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 1vmin;
    /* transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    transition: .4s ease;
    left: calc(var(--x) * (var(--c-size) + var(--g-gap)) + var(--g-gap));
    top: calc(var(--y) * (var(--c-size) + var(--g-gap)) + var(--g-gap));
    background-color: hsl(var(--bg-hue), var(--bg-intense), var(--bg-lightness));
    color: hsl(30, 25%, var(--c-lightness));
}

@keyframes rise {
    0% {
        scale: .2;
        opacity: .5;
    }

    100% {
        scale: 1;
    }
}